body{
	margin: 0;
	padding: 0;
	background: url('../images/IMG_20170528_170134.jpg') no-repeat;
	background-size: cover;
}

h1 {
	text-align: center;
	font-family: 'Calibri Light';
	font-weight: 400;
	font size: 40px;
	float: center;
	margin-top: 60px;
	margin-right: 10px;
}

.box {
	width: 400px;
	background: rgba(0, 0, 0, 0.4);
	padding: 70px;
	text-align: center;
	margin: auto;
	margin-top: 10%;
	font-family: 'Georgia';
}

.box-img {
	border-radius: 90%;
	margin-top: -10%;
	margin-bottom: 20px;
}

.buttonprof {
	background: pink;
	color: black;
	border: none;
	height: 50px;
	font-size: 1.4em;
	padding: 0 1em;
	cursor: pointer;
	outline: none;
	font-family: 'Georgia';
	font-weight: 900;
}

.action-button {
	position: relative;
	padding: 3px 7px;
  	margin: 0px 10px 10px 0px;
  	float: center;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.pink {
	background-color: #ff69b4;
	border-bottom: 5px solid rgb(255,100,150);
	text-shadow: 0px -2px #ff69b4;
}

.action-button:active {
	transform: translate(0px,5px);
  	webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

footer {
	margin: 0;
}

footer p{
	float: right;
	margin-right: 20px;
	margin-top: 55px;
	color: white;
	font-family: sans-serif;
}

.footer-text{
	color: white;
}

.footer-text:hover{
	color: pink;

}

.card-container{
	perspective: 700;
}

.card{
	margin-top: -40%;
	margin-bottom: 20px;
	position: relative;
	width: 200px;
	height: 200px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

.front, .back{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	backface-visibility: hidden;
}
.back{
	transform: rotateY(180deg);
}

.card:hover{
	transform: rotateY(90deg);
}
/*Icons*/
ul{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 25%;
	left: 75%;
	transform: translate(-50%);
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: black;
	overflow: hidden;
	margin: 25px;
	transition: .2s;
	border: 1px solid rgba(0,0,0,1);
	transform: rotate(45deg);
}
ul li a .fa{
	transform: rotate(-45deg);	
}
ul li a:before{
	content: '';
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FF1493;
	transition: .2s;
}
ul li a:hover:before{
	bottom: 0;
}
ul li a:hover{
	color: #fff;
}
ul li:nth-child(1) a:before{
	background: #3b5998;
}
ul li:nth-child(2) a:before{
	background: #e95950;
}
ul li:nth-child(3) a:before{
	background: #55acee;
}
ul li:nth-child(4) a:before{
	background: #dd4b39;
}